### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build
yaorm.iml

# Created by .ignore support plugin (hsz.mobi)
.gradle
.idea

javascript/node_modules
yaorm/build
yaorm/.gradle
.gradle
yaormcs/Org.Roylance.Yaorm.Api/bin
yaormcs/Org.Roylance.Yaorm.Api/obj
yaormserver/target
yaormserver/src/main/javascript/node_modules
yaorm/src/test/resources/mysql.properties
yaormpy
yaormcs
yaormclient
yaormjs
build
yaormswift/Carthage
Carthage
Cartfile.resolved
.DS_Store
